<h1> Login.PP - Employee Login</h1> 
<style> 
div{text-align:center}
</style>

<div>
<form action="/login" method="post"> 
<input type="text" name="name" placeholder="username">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="login">
</form>

</div>