<!DOCTYPE html>
<html>
<head>
<title>Prenzlin & Prenzlin</title>
</head>

<body>
<h1> Prenzlin & Prenzlin </h1>

<div>
<%=yield%>
</div>

<div>
<a href="/logout">Log-out </a> <br>
<a href="/dashboard">Dashboard</a> <br>
</div>

</body>

<style>
h1{text-align: center;}
div{text-align:center}
body{background-color: #f7f7f7}
body{align:center}
</style>


</html>

